.boat-picker {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  button.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: hsl(0, 0%, 20%);
    background-color: white;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    opacity: 0.9;
    font-size: 1rem;
    color:hsl(0, 0%, 30%);
    .boat-title {
      margin-top: 0.2rem;
      font-weight: bold;
      color:hsl(0, 0%, 30%);
    }
    .boat-description {
      font-style: italic;
    }
    cursor: pointer;
    border: none;
    box-shadow: none;
    overflow: hidden;
    &:hover {
      opacity: 1;
      box-shadow: 4px 4px 4px 4px hsla(0, 0%, 0%, 0.2);
    }
  }
}
