#dialog-background {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  background-color: hsla(0, 0%, 90%, 0.8);
  z-index: 10;
  .dialog-content {
    background-color: #016082;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    align-items: center;
    padding: 1rem;
    box-shadow: #242424;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px 4px hsla(0, 0%, 0%, 0.6);
  }
}
