
.force-selector-wrapper {
  margin-right: 1rem;
  width: 15rem;
  .label {
    margin-bottom: 5px;
    text-align: center;
  }
  .force-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #0481A0;
    .buttons {
      div {
        margin-left: 12em;
      }
    }
  }

}
