
.chrome {
  background-color: #016082;
  color: white;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  max-width: 1024px;
  padding-top: 3em;
  .toolbar {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start
  }
  > div {
    margin: 5px 10px;
  }

}

.stage-container {
  border-radius: 20px;
  aspect-ratio: 2/1;
  background-color:white;
  box-sizing: border-box;
  overflow: hidden;
  align-self: stretch;
}

.tool-label {
  align-self: flex-start;
}
