
.meter-panel {
  position: fixed;
  top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  justify-content: center;
  .speed-text {
    position: absolute;
    top: 6.5rem;
    font-weight: bold;
    font-size: 2.2rem;
    // padding: 0.2em;
    // border-radius: 0.2em;
    // background-color: #0481A0;
  }
  svg {
    width: 12rem;
  }
}